button{
    width: 300px;
    padding: 10px 70px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    border: 0;
    display: flex;
    flex-direction: row;
    margin: 4px auto;
}
#start-el:hover{
    background-color: blue;
} 
#end-el:hover{
    background-color: red;
} 
#new-el:hover{
    background-color: gold;
}
body{
    font-size: x-large;
    text-align: center;
    background-color: green;
    color:whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: orange;
}
#message-el{
    font-style: italic;
}
#start-el{
    background-color: rgb(28, 28, 222);
}
#end-el{
    background-color: rgb(233, 20, 20);
}
#new-el{
	background-color: rgb(246, 179, 9);
}